#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	cargo build --release --locked

override_dh_auto_install:
	DESTDIR=$(CURDIR)/debian/note-desktop ./scripts/install-files.sh $(CURDIR)/debian/note-desktop
